<ion-view view-title="Clothing">
  <ion-nav-buttons side="primary">
        <button class="button icon ion-search">
        </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="secondary">
        <button class="button icon ion-plus" ng-click="addImage()">
        <a href="/tab/upload"></a>
        </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.itemImage}}">
        <h2>{{chat.type}}</h2>
        <p>{{chat.brand}}</p>

        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
      
    </ion-list>
  </ion-content>
</ion-view>
