<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab 
  <ion-tab title="Outfits" icon-off="ion-ios-body-outline" icon-on="ion-ios-body" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab> -->

  <!-- Upload Tab -->
  <ion-tab title="Add" icon-off="ion-ios-plus-empty" icon-on="ion-ios-plus-empty" href="#/tab/upload">
    <ion-nav-view name="tab-upload"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Clothing" icon-off="ion-tshirt-outline" icon-on="ion-tshirt" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  

  <!-- Account Tab -->
  <!-- <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>
  -->


</ion-tabs>
